# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# macOS files
.DS_Store

# Streamlit cache
.streamlit/

# VSCode settings
.vscode/

# Generated reports
reports/

# Temporary files
*.log